.MenuParent{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color:orange; 
}
img{
    height: 100px;
    width: 100px;
    margin-right: 10px;
}
.MenuSubParent{
    display: flex;
    background-color: blueviolet;  
    .home{
        display: flex;
        padding: 10px;
        justify-content: space-between;
        margin-left: 10px;
        margin-right: 10px;
    }
    .about{
        
            display: flex;
            padding: 10px;
            justify-content: space-between;
            margin-left: 10px;
            margin-right: 10px;
    }
    .ser{
       
            display: flex;
            padding: 10px;
            justify-content: space-between;
            margin-left: 10px;
            margin-right: 10px;
        
    }
    .con{
        
            display: flex;
            padding: 10px;
            justify-content: space-between;
            margin-left: 10px;
            margin-right: 10px;
        
    }
}
